
.none_txt__symbol {
    display: block;
    width: 213px;
    height: 203px;
    margin: 0 auto 27px;
    background-image: url(../../../assets/images/symbol_none.png);
    // background-image: -webkit-image-set(url(img/symbol_none.png?max_age=2592000&v=056e331…&v=056e331…) 1x,url(img/symbol_none@2x.png?max_age=2592000&v=056e331…&v=056e331…&v=ad9d25f…) 2x);
}
.none_txt{
    margin-top: 80px;
}