
.section_inner {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.mod_top_subnav {
    height: 51px;
    line-height: 51px;
    border-top: 1px solid #f2f2f2;
    padding-left: 230px;
    margin-right: -50px;
}
.top_subnav__item {
    float: left;
    font-size: 15px;
    color: #c1c1c1;
    margin-right: 47px;
	list-style: none;
}
.top_subnav__item a{
	color: #000;
}
.top_subnav__link--current {
    color: #31c27c!important;
}
.top_subnav__link {
    display: block;
}